<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>B</string>
		<string>C</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>space</string>
		<string>comma</string>
		<string>period</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>bullet</string>
		<string>acute</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>ae</string>
		<string>oslash</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>A</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>hyphen</string>
		<string>F</string>
		<string>E</string>
		<string>D</string>
		<string>G</string>
		<string>K</string>
		<string>L</string>
		<string>T</string>
		<string>O</string>
		<string>U</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>Q</string>
		<string>S</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>zero</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>nine</string>
		<string>endash</string>
		<string>emdash</string>
		<string>slash</string>
		<string>seven</string>
		<string>eight</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>periodcentered</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>paragraph</string>
		<string>dieresis</string>
		<string>dotlessj</string>
		<string>dotlessi</string>
		<string>dotaccent.cap</string>
		<string>commaaccent</string>
		<string>grave.cap</string>
		<string>acute.cap</string>
		<string>dieresis.cap</string>
		<string>ring.cap</string>
		<string>macron</string>
		<string>macron.cap</string>
		<string>hbar</string>
		<string>kgreenlandic</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>oe</string>
		<string>eth</string>
		<string>thorn</string>
		<string>cedilla</string>
		<string>florin</string>
		<string>CR</string>
		<string>.null</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>equal</string>
		<string>Thorn</string>
		<string>Eth</string>
		<string>Lslash</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>caron.cap</string>
		<string>circumflex.cap</string>
		<string>underscore</string>
		<string>backslash</string>
		<string>Oslash</string>
		<string>question</string>
		<string>questiondown</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>multiply</string>
		<string>divide</string>
		<string>less</string>
		<string>dollar</string>
		<string>greater</string>
		<string>percent</string>
		<string>tilde</string>
		<string>mu</string>
		<string>tilde.cap</string>
		<string>asciitilde</string>
		<string>germandbls</string>
		<string>OE</string>
		<string>cent</string>
		<string>sterling</string>
		<string>Euro</string>
		<string>yen</string>
		<string>AE</string>
		<string>currency</string>
		<string>logicalnot</string>
		<string>uni00AD</string>
		<string>degree</string>
		<string>asciicircum</string>
		<string>ampersand</string>
		<string>numbersign</string>
		<string>section</string>
		<string>asterisk</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>at</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>copyright</string>
		<string>registered</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>nbspace</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>atilde</string>
		<string>aring</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>itilde</string>
		<string>ij</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>jcircumflex</string>
		<string>kcommaaccent</string>
		<string>nacute</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Itilde</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>IJ</string>
		<string>Jcircumflex</string>
		<string>Nacute</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Ccedilla</string>
		<string>ellipsis</string>
		<string>hungarumlaut</string>
		<string>hungarumlaut.cap</string>
		<string>ogonek</string>
		<string>iogonek</string>
		<string>uogonek</string>
		<string>aogonek</string>
		<string>eogonek</string>
		<string>Uogonek</string>
		<string>Iogonek</string>
		<string>Eogonek</string>
		<string>Aogonek</string>
		<string>Dcroat</string>
		<string>Amacron</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Ccaron</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Ecaron</string>
		<string>Emacron</string>
		<string>Edotaccent</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Hcircumflex</string>
		<string>Imacron</string>
		<string>Idotaccent</string>
		<string>Kcommaaccent</string>
		<string>Lcommaaccent</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Omacron</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Tcaron</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Ohungarumlaut</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Ygrave</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>amacron</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>aeacute</string>
		<string>ecaron</string>
		<string>emacron</string>
		<string>edotaccent</string>
		<string>gcircumflex</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
		<string>imacron</string>
		<string>ygrave</string>
		<string>ycircumflex</string>
		<string>wgrave</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>uring</string>
		<string>scedilla</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scaron</string>
		<string>racute</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>omacron</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>lcommaaccent</string>
		<string>uni1E61</string>
		<string>uni1E60</string>
		<string>uni1E57</string>
		<string>uni1E56</string>
		<string>uni1E41</string>
		<string>uni1E40</string>
		<string>uni1E1E</string>
		<string>uni1E0B</string>
		<string>uni1E0A</string>
		<string>uni1E03</string>
		<string>uni1E02</string>
		<string>uni1E6A</string>
		<string>ohungarumlaut</string>
		<string>uhungarumlaut</string>
		<string>Ldot</string>
		<string>uni1E6B</string>
		<string>tbar</string>
		<string>AEacute</string>
		<string>breve</string>
		<string>breve.cap</string>
		<string>abreve</string>
		<string>ibreve</string>
		<string>obreve</string>
		<string>ubreve</string>
		<string>Obreve</string>
		<string>Ibreve</string>
		<string>Ebreve</string>
		<string>Abreve</string>
		<string>Ubreve</string>
		<string>ebreve</string>
		<string>gbreve</string>
		<string>uni1E1F</string>
		<string>notequal</string>
		<string>Tbar</string>
		<string>minus</string>
		<string>partialdiff</string>
		<string>summation</string>
		<string>product</string>
		<string>pi</string>
		<string>integral</string>
		<string>Omega</string>
		<string>radical</string>
		<string>Delta</string>
		<string>approxequal</string>
		<string>fraction</string>
		<string>perthousand</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>dcaron</string>
		<string>lcaron</string>
		<string>Lcaron</string>
		<string>tcaron</string>
		<string>caronvertical</string>
		<string>infinity</string>
		<string>dcroat</string>
		<string>lacute</string>
		<string>Hbar</string>
		<string>Lacute</string>
		<string>hcircumflex</string>
		<string>lozenge</string>
		<string>trademark</string>
		<string>eng</string>
		<string>Eng</string>
		<string>uni01F3</string>
		<string>uni01C9</string>
		<string>uni01CC</string>
		<string>uni01F1</string>
		<string>uni01C7</string>
		<string>uni01CA</string>
		<string>uni01F2</string>
		<string>uni01C8</string>
		<string>uni01CB</string>
		<string>minute</string>
		<string>second</string>
		<string>estimated</string>
		<string>uni2113</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>afii61352</string>
		<string>uni0162</string>
		<string>uni0163</string>
		<string>napostrophe</string>
		<string>schwa</string>
		<string>uni021B</string>
		<string>uni0219</string>
		<string>uni0218</string>
		<string>uni021A</string>
		<string>uni01C6</string>
		<string>uni01C4</string>
		<string>uni01C5</string>
		<string>Schwa</string>
		<string>HT</string>
		<string>LF</string>
		<string>DLE</string>
		<string>DC1</string>
		<string>DC2</string>
		<string>DC3</string>
		<string>DC4</string>
		<string>RS</string>
		<string>DEL</string>
		<string>US</string>
		<string>uniE0FF</string>
		<string>uniEFFD</string>
		<string>uniF000</string>
		<string>zerowidthnonjoiner</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthspace</string>
		<string>enspace</string>
		<string>thinspace</string>
		<string>exclamdbl</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>one.superior</string>
		<string>two.superior</string>
		<string>three.superior</string>
		<string>afii61248</string>
		<string>won</string>
		<string>uni03BC</string>
		<string>Deltagreek</string>
		<string>Omegagreek</string>
		<string>uni2120</string>
		<string>uni20BA</string>
		<string>_459</string>
		<string>uni018F</string>
		<string>uni0259</string>
		<string>_462</string>
	</array>
</dict>
</plist>
