(
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
AEacute,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
uni018F,
F,
G,
Gbreve,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
H,
Hbar,
Hcircumflex,
I,
IJ,
Iacute,
Ibreve,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jcircumflex,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
uni1E9E,
T,
Tbar,
Tcaron,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Z,
Zacute,
Zcaron,
Zdotaccent,
uni0162,
uni01C4,
uni01C5,
uni01C7,
uni01C8,
uni01CA,
uni01CB,
uni01F1,
uni01F2,
uni0218,
uni021A,
uni1E02,
uni1E0A,
uni1E1E,
uni1E40,
uni1E56,
uni1E60,
uni1E6A,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
aeacute,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
uni0259,
f,
g,
gbreve,
gcircumflex,
gcommaaccent,
gdotaccent,
h,
hbar,
hcircumflex,
i,
dotlessi,
iacute,
ibreve,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
itilde,
ij,
j,
dotlessj,
jcircumflex,
k,
kcommaaccent,
kgreenlandic,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
lslash,
m,
n,
nacute,
napostrophe,
ncaron,
ncommaaccent,
ntilde,
eng,
o,
oacute,
obreve,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scircumflex,
germandbls,
t,
tbar,
tcaron,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uni0163,
uni01C6,
uni01C9,
uni01CC,
uni01F3,
uni0219,
uni021B,
uni1E03,
uni1E0B,
uni1E1F,
uni1E41,
uni1E57,
uni1E61,
uni1E6B,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
z,
zacute,
zcaron,
zdotaccent,
f_f,
f_f_i,
f_f_l,
fi,
fl,
ordfeminine,
ordmasculine,
Deltagreek,
Omegagreek,
uni03BC,
pi,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
one.superior,
two.superior,
three.superior,
space,
nbspace,
CR,
.notdef,
.null,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
exclamdbl,
numbersign,
slash,
backslash,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
uni00AD,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotereversed,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
at,
ampersand,
paragraph,
section,
copyright,
registered,
uni2117,
trademark,
afii61248,
degree,
minute,
second,
bar,
brokenbar,
dagger,
uni2113,
daggerdbl,
estimated,
afii61352,
uni2120,
Euro,
cent,
colonmonetary,
currency,
dollar,
dong,
franc,
lira,
peseta,
sterling,
uni20A6,
uni20AA,
uni20B1,
uni20B2,
uni20B5,
uni20B9,
uni20BA,
won,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
Omega,
Delta,
product,
summation,
radical,
mu,
partialdiff,
percent,
perthousand,
uni2215,
arrowup,
arrowright,
arrowdown,
arrowleft,
arrowboth,
arrowupdn,
lozenge,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
cedillacomb,
ogonekcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
uni02C9,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
dieresis.cap,
dotaccent.cap,
grave.cap,
acute.cap,
hungarumlaut.cap,
circumflex.cap,
caron.cap,
breve.cap,
ring.cap,
tilde.cap,
macron.cap,
commaaccent,
caronvertical
)